---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #f2f2f2;
$background-color: #cccccc;
$background-image: url("/assets/images/DSC_0775.JPG");
$brand-color:      #33cc33;

$dark-glass:       rgba(#000, 0.5);
$darker-glass:     rgba(#000,0.8);
$frosted-glass:    rgba(240,240,240,0.90);

$grey-color:       #e6e6e6;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 10%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;

// Light/Dark theme slider
$switch-bg-color: rgba($brand-color, 0.8);
$slider-height: 1.5rem;
$slider-width: 2.5rem;
$slider-text-color: #333;
$slider-text-color-checked: #ddd;
$switch-width: 4.5rem;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import the font from Google.
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting",
  "custom",
  "resume"
;
