---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";



// Fonts
$font-family-base: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$font-size-small: $font-size-base * 0.875;
$line-height-base: 1.5;

// Main Colors
$color-text: #f2f2f2;
$color-background: #cccccc;
$color-brand: #33cc33;

$color-grey: #e6e6e6;
$color-grey-light: lighten($color-grey, 40%);
$color-grey-dark: darken($color-grey, 10%);

$color-switch-bg: rgba($color-brand, 0.8);
$color-slider-text: #333;
$color-slider-text-checked: #ddd;

// Spacing
$spacing-unit: 30px;

// Background
$background-image: url("/assets/images/DSC_0775.JPG");

// Layout
$content-width: 1200px;

// Responsive breakpoints
$breakpoint-palm: 600px;
$breakpoint-laptop: 800px;

// Other Colors
$dark-glass:       rgba(#000, 0.5);
$darker-glass:     rgba(#000,0.8);
$frosted-glass:    rgba(240,240,240,0.90);

// Light/Dark theme slider
$switch-width: 4.5rem;
$slider-height: 1.5rem;
$slider-width: 2.5rem;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import the font from Google.
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting",
  "custom",
  "resume"
;
