<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>

        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          <a href="https://stackoverflow.com/users/3446655/harlemsquirrel">
            <img src="https://stackoverflow.com/users/flair/3446655.png?theme=dark" width="208" height="58" alt="profile for HarlemSquirrel at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for HarlemSquirrel at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  function setThemeFromCookie() {
    var pageContent = document.getElementById('page-content')
    pageContent.className = isDarkThemeSelected() ? 'page-content' : 'page-content-light'
  }

  function isDarkThemeSelected() {
    return document.cookie.match(/theme=dark/i) != null
  }

  function setLightDarkSwitchState() {
    document.getElementById('lightDarkSwitchInput').checked = isDarkThemeSelected()
  }

  function togglePageContentLightDark() {
    var pageContent = document.getElementById('page-content')
    var currentClass = pageContent.className;
    var newClass = pageContent.className == 'page-content' ? 'page-content-light' : 'page-content'
    pageContent.className = newClass

    // Save the theme preference for 10 years.
    var endDate = new Date();
    endDate.setFullYear(endDate.getFullYear() + 10);

    document.cookie = 'theme=' + (newClass == 'page-content-light' ? 'light' : 'dark') +
                      '; Expires=' + endDate + ';'
  }

  (function() {
    setThemeFromCookie()
    setLightDarkSwitchState()
    document.getElementById('lightDarkSwitchInput').onchange=togglePageContentLightDark
  })();
</script>
