.site-title {
  &:link, &:visited {
    color: #ddd;
  }
}

@media (max-width: 600px) {
  .site-title {
    font-size: 1.2rem;
  }
  .site-nav {
    background-color: #111;
    background-color: $darker-glass;
  }
}
