header {
  margin-bottom: 0 !important;
  h1 {
    display: inline-block;
    min-width: 25rem;
    width: calc(100% - 9rem)
  }
  svg {
    fill: $color-brand;
  }
}

.list-horizontal {
  display: inline-block;

  li {
    display: inline-block;
    vertical-align: middle;
    a {
      display: inline-block;
    }
  }
}

.resume {
  .contact-table {
    text-align: center;
    font-weight: bold;
    @media screen and (max-width: 520px) {
      font-size: 10px;
    }
    td {
      padding-right: 1rem;
    }
  }
  img.resume-pic {
    box-shadow: 10px 10px 5px 0px #333;
    float: right;
    margin: 1rem;
    width: 15rem;
  }
}

ul.list-plus {
  list-style: none;
  margin-left: 0.5rem;

  li:before {
    content: '+';
    display:inline-block;
    margin-left: -1rem;
    padding-right: 0.5rem;
  }

  li {
    margin-left: 1rem;
    padding-left: 0.5rem;
  }
}

@mixin print_layout {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    font-family: 'Merriweather', serif;
    font-size: 11px;
  }

  header, h1, .post-content {
    margin: 0 !important;
  }

  #page-content {
    padding: 0 !important;
  }

  a, a:visited {
    text-decoration: none;
  }

  .site-header, button, footer, img, ins, svg {
    display: none;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a:after, a[href^="javascript:"]:after, a[href^="#"]:after, a[href^="tel:"]:after, a[href^="mailto:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1cm;
    margin-bottom: 2cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
    margin-bottom: 0.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2, h3, article {
    page-break-after: avoid;
  }
  h3 {
    margin-top: 1.5rem;
  }

  .print-page-break {
    page-break-after: always;
  }

  .btn {
    display: none;
  }
}

.pdf {
  @include print_layout;
}

@media print {
  body {
    @include print_layout;
  }
}
