<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Main Ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2688662661985185"
         data-ad-slot="1373099629"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
