---
layout: default_light
---
<article class="resume">
  <header class="post-header">
    <h1 class="post-title">Kevin McCormack</h1>
    <ul class="list-horizontal">
      <li>
        <button class="btn btn-clear" id="downloadPDF" type="button" name="button" title="Save as PDF">
          <i class="material-icons">picture_as_pdf</i>
        </button>
      </li>
      <li>
        <button class="btn btn-clear" onclick="window.print();return false;" type="button" name="button" title="Print">
          <i class="material-icons">local_printshop</i>
        </button>
      </li>
    </ul>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <script type="text/javascript" src="javascript/html2pdf.bundle.min.js"></script>
  <script type="text/javascript" src="javascript/resume.js"></script>
</article>
